@media (max-width: 1750px) {
    .nav__search-box {
        max-width: 88%;
    }

    .person__person-bg {
        background-position: 35% 50%;
    }
}

@media (max-width: 1600px) {
    .person {
        height: 674px;
        padding: 100px 49px 29px 65px;
    }

    .person__set {
        bottom: -9%;
        /* height: 800px; */
    }

    .person__person-bg {
        background-position: 0% 0%;
    }
}

@media (max-width: 1500px) {
    .nav__search-box {
        max-width: 86%;
    }

    .person__person-bg {
        background-position: 43% 50%;
    }
}

@media (max-width: 1400px) {
    .nav__search-box {
        max-width: 84%;
    }

    .person {
        padding-left: 50px;
        height: 630px;
        padding-top: 110px;
    }

    .person__person-bg {
        background-position: 52% 50%;
    }

    .experience .swiper .swiper-pagination-horizontal {
        bottom: 6%;
    }

    .experience .swiper .swiper-pagination-horizontal {
        width: 50%;
    }

    .person__set {
        right: 12%;
        bottom: 0%;
        height: 700px;
    }

    .person__person-h4 {
        font-size: 30px;
    }

    .section__section-img {
        width: 110px;
        height: 55px;
    }

    .section__section-center-icon {
        bottom: 5px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .section__section-center-icon i {
        font-size: 24px;
    }

    .section__section-h1 {
        font-size: 70px;
    }

    .section__section-fixed {
        font-size: 24px;
        top: 22%;
    }

    .section__section-p {
        margin-top: 17.6px;
        line-height: 27px;
    }

    .education__education-inner-row {
        padding-top: 30.3px;
        padding-bottom: 30px;
    }

    .education__education-col {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .knowledge__knowledge-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .knowledge__knowledge-item:not(:first-child) {
        margin-top: 18px;
    }

    .skills__skills-row {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .circle .inner {
        width: 130px;
        height: 130px;
    }

    .circle-2 .inner {
        width: 130px;
        height: 130px;
    }

    .circle-3 .inner {
        width: 130px;
        height: 130px;
    }

    .circle-4 .inner {
        width: 130px;
        height: 130px;
    }

    .experience__slide-margin {
        padding-top: 57.3px !important;
        padding-bottom: 80px !important;
    }

    .experience__experience-line {
        margin-top: 25.7px;
        margin-bottom: 20.7px;
    }

    .experience__experience-img i {
        font-size: 38px;
    }

    .experience__experience-h2 {
        font-size: 18px;
        margin-bottom: 18.7px;
    }

    .experience__experience-p {
        line-height: 27px;
    }

    .experience__experience-a {
        line-height: 27px;
    }

    .project__project-container {
        padding-top: 50.3px;
        padding-bottom: 70px;
        padding-right: 1rem;
    }

    .project__project-h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .project__projecn-mt:not(:first-child) {
        margin-top: 16px;
    }

    .project__description-text {
        line-height: 26px;
    }

    .language__language-row {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .interests__interests-row {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .interests__interests-col-mt {
        margin-top: 20px;
    }

    .interests__interests-img i {
        font-size: 32px;
    }

    .interests__interests-h2 {
        font-size: 22px;
        margin-bottom: 15.5px;
    }

    .interests__interests-p {
        line-height: 27px;
    }

    .services__services-row {
        padding-top: 60px;
        padding-bottom: 65px;
    }

    .services__services-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .portfolio__portfolio_margin-tb {
        padding-top: 50px;
        padding-bottom: 65px;
    }

    .portfolio__portfolio-row:not(:first-child) {
        margin-top: 15px;
    }

    .portfolio__portfolio-img {
        height: 220px;
    }

    .portfolio__h1-hover {
        font-size: 22px;
    }

    .contact__contact-row {
        padding-top: 57.3px;
        padding-bottom: 70px;
    }

    .contact__contact-form-inner {
        padding: 10px 30px;
    }

    .contact__contact-img {
        /* height: 470px; */
        /* height: 300px; */
        /* background-color: red; */
    }

    .pricing__pricing-row {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .pricing__pricing-col-4 {
        max-width: 29%;
    }

    .pricing__pricing-bg-img {
        height: 644px;
    }

    .pricing__pricing-card {
        padding-top: 110px;
        padding-bottom: 30px;
    }

    .pricing__pricing-h2 {
        line-height: 27px;
        font-size: 23px;
    }

    .pricing__pricing-line {
        margin-bottom: 30px;
    }

    .pricing__pricing-list {
        margin-bottom: 35px;
    }

    .pricing__pricing-group:not(:first-child) {
        margin-top: 10px;
    }

    .pricing__pricing-title {
        line-height: 26px;
    }

    .pricing__pricing-table {
        top: 104px;
        width: 95px;
        height: 95px;
    }

    .pricing__use-dolor i {
        top: 32px;
        left: 15px;
        /*  */
    }

    .pricing__pricing-top-h1 {
        font-size: 28px;
    }

    .pricing__pricing-top-h1 {
        font-size: 28px;
    }

    .pricing__pricing-top-00 {
        top: 48px;
        right: 8px;
    }
}

@media (max-width: 1265px) {
    .nav__search-box {
        max-width: 82%;
    }

    .person__person-bg {
        background-position: 62% 50%;
    }
}

@media (max-width: 1240px) {
    .mySwiper2 .swiper-slide {
        padding-left: 12px;
        padding-right: 12px;
    }

    .footer__footer-row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    .knowledge__knowledge-col {
        padding-left: 1.5rem;
    }

    .project__project-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .services__services-col-6 {
        padding-left: 15px;
    }

    .portfolio__portfolio-row {
        padding: 0 15px;
    }

    .pricing__pricing-row {
        padding-right: 10px;
        padding-left: 10px;
    }

    /*  */
}

@media (max-width: 1074px) {
    .nav__search-box {
        max-width: 80%;
    }

    .person__set {
        right: 0%;
    }
}

@media (max-width: 992px) {
    .container-fluid {
        max-width: 992px;
    }

    .dark-light {
        right: 23%;
    }

    .person__set {
        right: 0%;
    }

    .person__mudssar-title {
        font-size: 56px;
    }

    .person__person-my-title {
        margin-top: 100px;
    }

    .person__person-subline-title {
        left: 314px;
    }

    .person__person-bottom-absolute {
        padding-left: 50px;
    }

    .footer__footer-row {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section__section-fixed {
        top: 19.4%;
    }

    .experience__experience-col {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact__contact-img {
        height: 320px;
    }

    /*  */
}

@media (max-width: 967px) {
    .experience .swiper .swiper-button-next {
        right: 41%;
    }

    .experience .swiper .swiper-button-prev {
        left: 41%;
    }

    .mySwiper2 {
        height: 1200px;
    }

    .mySwiper2 .swiper-pagination-vertical {
        top: 5% !important;
    }

    .nav__search-box {
        max-width: 78%;
    }

    .border-section-top {
        margin: 0;
    }

    .testimonial {
        margin: 0;
        padding-right: 0 !important;
    }

    .testimonial__testimonial-row {
        flex-wrap: wrap;
    }

    .testimonial__testimonial-col-5 {
        max-width: 90%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial__testimonial-col-7 {
        max-width: 90%;
        margin-top: 20px;
        margin-bottom: 1rem;
        padding: 20px 30px 20px 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonial__testimonial-social-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 167px;
    }

    .testimonial__testimonial-icon:last-child {
        border-left: none;
    }

    .testimonial__testimonial-icon-center {
        width: 70px;
        border-right: 1px solid #55556A;
    }

    /*  */
}

@media (max-width: 826px) {
    .port-mt {
        margin-top: 15px;
    }

    .nav__nav-container {
        padding-left: 30px;
    }

    .portfolio__portfolio-row {
        padding: 0 15px;
    }

    .portfolio__portfolio-col-mt {
        max-width: 100%;
    }

    .knowledge__knowledge-check {
        padding-right: 10px;
    }

    .d-none-price {
        display: none;
    }

    .skills__skills-row {
        flex-wrap: wrap;
    }

    .interests__interests-col-3 {
        max-width: 30.333333%;
        padding-left: 10px;
    }

    .language__language-col-3 {
        max-width: 50%;
    }

    .nav__search-box {
        max-width: 75%;
        margin-left: 30px;
    }

    .project__project-col-1 {
        max-width: 10%;
    }

    .project__project-col-2 {
        max-width: 90%;
    }

    .project__project-col-3 {
        max-width: 90%;
        margin-left: auto;
        margin-top: 2rem;
    }

    .services__services-img {
        padding-right: 28px;
    }

    .services__services-mobile {
        padding-right: 43px;
    }

    .services__services-content {
        padding-right: 0;
    }

    .contact__contact-col-8, .contact__contact-col-4 {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact__contact-img img {
        background-position: center;
    }

    .pricing__pricing-col-4 {
        max-width: 44%;
        margin-top: 2.5rem;
    }

    .footer__footer-bg-main-img {
        background-image: none;
    }

    .footer__footer-row {
        flex-wrap: wrap;
    }


    .footer__footer-col-3 {
        max-width: 50%;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .footer__footer-col-3, .footer__footer-col-4 {
        max-width: 50%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 1rem;
    }

    .footer__footer-line {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .footer__footer-bottom {
        padding-left: 2rem;
    }

    /*  */
}

@media (max-width: 768px) {
    .person__set {
        /* right: 0%; */
        display: none;
    }

    .person__person-bg {
        display: none;
    }

    .dark-light {
        /* position: absolute; */
        right: 28%;
    }

    .language__language-row {
        flex-wrap: wrap;
    }

    .language__language-mt-3 {
        margin-top: 2rem;
    }

    .contact__contact-row {
        flex-wrap: wrap;
    }

    .contact__contact-img {
        /* padding-left: 30px; */
        padding-left: 48px;
        padding-right: 30px;
        margin-top: 1rem;
    }
}

@media (max-width: 667px) {
    .nav__search-box {
        max-width: 70%;
        margin-left: 20px;
    }

    .container-fluid {
        max-width: 586px;
    }

    .education__education-inner-row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .person__person-my-title {
        font-size: 16px;
        margin-top: 57px;
    }

    .person__mudssar-title {
        font-size: 25px;
        line-height: 40px;
    }

    .person__person-subline-title {
        left: 60px;
        font-size: 15px;
        color: red;
        bottom: -21px;
    }

    .education__education-bottom-row:first-child {
        border-bottom: none;
    }

    .knowledge__knowledge-col {
        max-width: 100%;
        padding-bottom: 2rem;
    }

    .knowledge__knowledge-col:not(:first-child) {
        margin-top: 1.35rem;
    }

    .knowledge .knowledge-border {
        padding-top: 1.25rem;
    }

    .skills__skills-row {
        padding-top: 57.3px;
        padding-bottom: 50px;
    }

    .skills__skills-col-4 {
        max-width: 50%;
    }

    .skills__skills-col-mt {
        margin-top: 2rem;
    }

    .project__project-col-3 {
        margin-top: 1.25rem;
    }

    .project__project-left-row {
        flex-direction: column;
    }

    .language__language-col-3 {
        max-width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #55556A;
    }

    .language .language-border-top {
        border-top: 1px solid #55556A;
    }

    .pricing__pricing-col-4 {
        max-width: 90%;
    }

    .portfolio-col-mt {
        max-width: 100%;
    }

    .portfolio__portfolio-row {
        flex-wrap: wrap;
    }

    .language__language-dots-flex {
        margin-top: 30px;
    }

    .interests__interests-line {
        margin-top: 19px;
        margin-bottom: 19px;
    }

    .interests__interests-h2 {
        margin-bottom: 14px;
    }

    .interests__interests-sm-none {
        display: none;
    }

    .services__services-col-6 {
        max-width: 100%;
    }

    .services__services-col-6:not(:first-child) {
        margin-top: 3rem;
    }

    .services__services-m4 {
        margin-top: 0;
    }


    .portfolio-col-mt:not(:first-child) {
        margin-top: 1rem;
    }

    .footer__footer-col-3 {
        max-width: 100%;
    }

    .footer__footer-col-3, .footer__footer-col-4 {
        max-width: 100%;
    }

    /*  */
}

@media (max-width: 760px) {
    .swiper-sm-none {
        display: none !important;
    }
}

/* /480 / */
@media (max-width: 576px) {
    .section__section-h1 {
        font-size: 52px;
    }

    .section__section-fixed {
        top: 11.4%;
        font-size: 19px;
    }

    .dark-light {
        right: 33%;
    }

    .person {
        padding-left: 30px;
        height: 550px;
    }

    /* .person__person-bg {
        display: none;
    } */

    /* .person__set {
        display: none;
    } */

    .person__person-h4 {
        font-size: 24px;
    }

    .person__mudssar-title {
        font-size: 25px;
    }

    .person__mudssar-subtile {
        padding-left: 10px;
    }

    .person__person-h2 {
        font-size: 18px;
    }

    .person__person-punjab {
        font-size: 11px;
    }

    .person__person-bottom-absolute {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .education__education-col {
        max-width: 100%;
        padding: 18px 0;
    }

    .knowledge__knowledge-row {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .knowledge__knowledge-item:not(:first-child) {
        margin-top: 14px;
    }

    .project__project-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .testimonial__testimonial-col-7 {
        padding: 14px 12px 14px 12px;
    }

    .testimonial__testimonial-p {
        margin-top: 15px;
        line-height: 25px;
    }

    .portfolio__portfolio-img {
        height: 170px;
    }

    .language__language-row {
        padding-top: 42px;
        padding-bottom: 40px;
    }

    .language__language-mt-3 {
        margin-top: 0;
    }

    .interests__interests-col-3 {
        max-width: 100%;
        padding-left: 10px;
    }

    .interests__interests-col-3:not(:first-child) {
        margin-top: 1rem;
    }

    .interests__interests-row {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .services__services-row {
        padding-top: 45px;
        padding-bottom: 40px;
    }

    .services__services-content {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .portfolio__portfolio_margin-tb {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact__contact-input-col-6 {
        max-width: 100%;
    }

    .contact__contact-zero-mt {
        margin-top: 15px;
    }

    .contact__contact-input-row-2 {
        margin-top: 15px;
    }

    .contact__contact-img {
        margin-top: 2rem;
        padding-right: 0px;
        padding-left: 0px;
        height: 230px;
    }

    .pricing__pricing-row {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .contact__contact-input-row:not(:first-child) {
        margin-top: 15px;
    }

    /*  */
}

@media (max-width: 480px) {
    .mySwiper2 {
        height: 1450px;
    }

    .mySwiper2 .swiper-pagination-vertical {
        top: 3% !important;
    }

    .nav__nav-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav__nav-list {
        max-width: 310px;
    }

    .nav__search-icon {
        max-width: 68%;
        right: 25px;
    }

    .nav__search-box {
        max-width: 68%;
        margin-left: 20px;
    }

    .testimonial__testimonial-col-5 {
        max-width: 100%;
    }

    .testimonial__testimonial-img img {
        width: 90px;
        height: 90px;
    }

    .contact__contact-col-8, .contact__contact-col-4 {
        max-width: 100%;
    }

    .contact__contact-form-inner {
        padding: 10px 0;
    }

    /*  */
}

/* 360 */
@media (max-width: 360px) {
    .mySwiper2 {
        height: 1550px;
    }
}