@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #030318;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3145;
}

a,
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.swiper {
  width: 100%;
  height: 100%;
}

.experience .swiper-slide {
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience .swiper .swiper-pagination-horizontal {
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: 9%;
  z-index: -1;
  display: inline-block;
}





.experience .swiper .swiper-pagination-bullet {
  background-color: #55556A;
  opacity: 0.6;
}

.experience .swiper .swiper-pagination-bullet-active {
  background-color: #ED2B23;
  width: 9px;
  height: 9px;
  opacity: 1;
}

.experience .swiper .swiper-button-next,
.experience .swiper .swiper-button-prev {
  color: #ED2B23;
  width: 3%;
  top: 91%;
}

.experience .swiper .swiper-button-next {
  right: 42.5%;
}



.experience .swiper .swiper-button-prev {
  left: 42.5%;
}



.experience .swiper .swiper-button-next:after,
.experience .swiper .swiper-button-prev:after {
  font-size: 19px !important;
}



.mySwiper2 {
  width: 100%;
  height: 760px;
}







.mySwiper2 .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 .swiper-pagination-vertical {
  left: 1rem;
  top: 6% !important;
  width: 20px;
}


.mySwiper2 .swiper-pagination-bullet {
  background-color: #55556A !important;
  opacity: 0.6;
  margin-bottom: 10px !important;
  width: 10px;
  height: 10px;
}

.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #ED2B23 !important;
  width: 11px;
  height: 11px;
  opacity: 1;
}

.nav {
  position: absolute;
  top: 0px;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #030318;
  padding: 10px 0;
}

.header-appear .nav__navbar-top-default {
  position: fixed;
  top: 0;
  z-index: 888;
  background: #232935;
  -webkit-animation-name: animationFade;
  animation-name: animationFade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

@-webkit-keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.nav__nav-container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 70px;
  padding-right: 30px;
  position: relative;
}




.nav__nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav__nav-logo img {
  margin-top: 73px;
  object-fit: cover;
  max-width: 125px;
}

.nav__nav-mobile-img {
  position: absolute;
  top: 48px;
  left: 30px;
  z-index: -1;
}

.nav__nav-list {
  display: flex;
  position: fixed;
  top: 0px;
  right: -100%;
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 350px;
  background: white;
  padding-top: 3rem;
  padding-left: 40px;
  transition: all 0.3s ease;
  overflow-y: auto;
  z-index: 2;
  padding-top: 103px;
}


.nav__nav-list::-webkit-scrollbar {
  width: 0px;
  background-color: silver;
}

.nav__nav-item:not(:first-child) {
  margin-top: 10px;
}

.nav__nav-link {
  display: block;
  color: #55556A;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}

.nav__nav-link:hover {
  color: #030318;
}

.nav__nav-social-content {
  margin-top: 10rem;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin-left: -20px;
}

.nav__nav-icon-mobile {
  font-size: 18px;
  display: inline-block;
  color: #55556A;
  transition: all 0.3s ease-in-out;
}

.nav__nav-icon-mobile:not(:first-child) {
  padding-left: 30px;
}

.nav__nav-icon-mobile:hover {
  color: #030318;
}

.nav__menu-bar {
  display: block;
  height: 30px;
  width: 33px;
  position: relative;
  cursor: pointer;
}

.nav__menu-span {
  position: absolute;
  top: 13px;
  left: 0;
  width: 25px;
  height: 2px;
  background: #fff;
  display: inline-block;
}

.nav__menu-span:before, .nav__menu-span:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  transition: all 0.2s ease-in-out;
}

.nav__menu-span:before {
  top: -7px;
  left: 0;
  background: #fff;
}

.nav__menu-span:after {
  top: 7px;
  width: 15px;
  right: 0;
  background: #fff;
}

.nav__menu-bar:hover .nav__menu-span:before,
.nav__menu-bar:hover .nav__menu-span:after {
  width: 17px;
}

.nav__nav-close {
  position: absolute;
  top: 24px;
  right: 22px;
  color: #030318;
  font-size: 26px;
  cursor: pointer;
  z-index: 1111;
}

.nav__nav-close:hover {
  -webkit-animation: 0.8s rotate;
  animation: 0.8s rotate;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nav .show {
  right: 0%;
}

.nav__search-icon {
  display: inline-block;
  font-size: 22px;
  margin-right: 55px;
  position: absolute;
  top: 6px;
  right: 40px;
  cursor: pointer;
}



.nav__search-box {
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0%;
  width: 90%;
  height: 50px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  margin-left: 70px;
}


.nav__search-box-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}

.nav__search-box-input::placeholder {
  color: #f2f2f2;
}

.nav__go-icon {
  width: 70px;
  height: 100%;
  border: none;
  background: #171c24;
  position: absolute;
  right: 10px;
  top: 0;
  outline: none;
  color: #b31010;
  font-size: 20px;
  cursor: pointer;
}

.nav input[type=radio] {
  display: none;
}

.searchBoxShow {
  opacity: 1;
  pointer-events: auto;
}

.d-none {
  display: none;
}

.typing {
  color: crimson;
}

.person {
  width: 100%;
  height: 850px;
  padding: 148px 49px 29px 95px;
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}




.person__person-bg {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-image: url(../../img/background.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 100%;
  z-index: -1;
}



.person__person-top {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.person__person-man-icon {
  padding-right: 13.8px;
}

.person__person-man-icon i {
  display: inline-block;
  font-size: 24px;
  color: #ED2B23;
}

.person__set {
  position: absolute;
  bottom: 0%;
  right: 8%;
  height: 850px;
  z-index: -1;
  text-align: right;
}

@media (max-width: 1750px) {
  .person__set {
    right: 4%;
  }
}

.person__set img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.person__person-h4 {
  font-size: 34px;
  color: #fff;
  letter-spacing: 31.96;
  font-weight: 400;
}



.person__mudssar-title {
  font-size: 68.92px;
  color: #fff;
  font-weight: bold;
  line-height: 82.71px;
  text-transform: uppercase;
}



.person__person-my-title {
  font-size: 27px;
  margin-top: 146.9px;
}




.person__mudssar-subtile {
  position: relative;
}

.person__person-subline-title {
  font-size: 21.98px;
  color: #545469;
  line-height: 26.37px;
  display: inline-block;
  text-align: right;
  position: absolute;
  bottom: -25px;
  left: 337px;
}




.person__person-left-content {
  display: flex;
}

.person__box-icon-botton {
  align-self: flex-start;
  margin-right: 32px;
  margin-top: -4px;
}

.person__box-icon-botton span i {
  display: inline-block;
  font-size: 32px;
}

.person__person-small-content {
  padding-left: 5px;
}

.person__person-h2 {
  font-size: 22px;
  letter-spacing: 25;
  margin-bottom: -8px;
  color: #fff;
}


.person__person-punjab {
  font-size: 13.98px;
  letter-spacing: 25;
  display: inline-block;
  color: #6f778a;
}



.person__person-bottom-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 49px 29px 95px;
}

.person__person-social-content {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.person__person-icon {
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 50px;
  height: 44px;
  line-height: 44px;
  color: #6f778a;
}

.person__person-icon-center {
  width: 80px;
  text-align: center !important;
  border-left: 1px solid #55556A;
}

.person__person-icon-right {
  text-align: right !important;
  border-left: 1px solid #55556A;
}

.person__person-tooltip-a {
  font-size: 12px;
  display: block;
  color: red;
  text-align: center;
  border-radius: 5px;
  padding: 8px 15px;
  background-color: #fff;
}

.person__box-icon-botton {
  padding-top: 8px;
}

.person__box-icon-botton span {
  display: inline-block;
  font-size: 25px;
}

.quick__quick-icon {
  margin: 0 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.quick__tooltip {
  border-radius: 2px;
  position: absolute;
  top: -35px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.quick__custom-arrow {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 60%;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-top: 1em solid #fff;
}

.quick__quick-icon:hover .quick__tooltip {
  top: -48px;
  opacity: 1;
  visibility: visible;
}

.quick__quick-icon:hover .person-hover {
  transition: all 0.3s ease;
  color: #ED2B23;
}

.footer__footer-container-fluid {
  width: 100%;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.footer__footer-bg-main-img {
  background-image: url(../../img/footer-bottom.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.footer__footer-row {
  display: flex;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 100px;
}



.footer__footer-col-3 {
  width: 100%;
  max-width: 23%;
  padding-right: 29.1px;
}


.footer__footer-col-4 {
  width: 100%;
  max-width: 31%;
}


.footer__footer-h2 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

.footer__footer-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #3D3D52;
  margin-top: 23.9px;
  margin-bottom: 26.1px;
}


.footer__footer-p {
  font-size: 14px;
  color: #55556A;
  line-height: 30px;
}

.footer__footer-span-phone {
  font-size: 14px;
  font-weight: bold;
  color: #55556A;
  line-height: 30px;
  display: block;
}

.footer__footer-span {
  font-size: 14px;
  color: #55556A;
  line-height: 30px;
  display: block;
}

.footer__footer-social-icon {
  margin-top: 24px;
}

.footer__social-icon-a, .footer__social-icon-1, .footer__social-icon-5 {
  font-size: 15px;
  display: inline-block;
  color: #55556a;
  transition: all 0.3s ease;
}

.footer__social-icon-a:hover, .footer__social-icon-1:hover, .footer__social-icon-5:hover {
  color: #3D3D52;
}

.footer__social-icon-a {
  width: 100%;
  max-width: 48px;
  text-align: center;
  border-left: 1px solid #55556A;
}

.footer__social-icon-1, .footer__social-icon-5 {
  width: 100%;
  max-width: 35.4px;
}

.footer__social-icon-1:not(:first-child), .footer__social-icon-5:not(:first-child) {
  border-left: 1px solid #55556A;
  padding-left: 20px;
}

.footer__footer-bottom {
  padding: 23px 0;
  display: flex;
  align-items: center;
}

.footer__footer-c, .footer__footer-bottom-span {
  font-size: 14px;
  color: #55556A;
  display: inline-block;
}

.footer__footer-c {
  font-size: 12px;
  padding-right: 5px;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  margin-top: 89.1px;
  width: 100%;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}



@media (max-width: 826px) {
  .container-fluid {
    max-width: 768px;
  }
}

.border-section-top {
  border-top: 1px solid #55556A;
}

.border-section-top {
  margin-bottom: 28px;
}


.text-mt-28 {
  margin-bottom: 28px;
}

.experience {
  border-top: 1px solid #55556A;
}

.section {
  position: relative;
}

.section__section-img {
  position: absolute;
  top: -90px;
  left: 0;
}



.section__section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__section-center-icon {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #030318;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
}



.section__section-center-icon i {
  display: inline-block;
  color: #fff;
  font-size: 29px;
}



.section__section-h1 {
  font-size: 120px;
  color: #272739;
  font-weight: bold;
}



.section__section-fixed {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 28%;
  left: 0.4%;
}



.section .text-h4-fixed {
  left: 2.2%;
}

.section__section-p {
  font-size: 14px;
  font-weight: normal;
  color: #55556A;
  line-height: 30px;
  margin-top: 21.6px;
}


.ourteam-fixed {
  top: 37% !important;
}

.ourteam-mt {
  margin-top: 60.3px;
}



.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 20px;
  background: #ED2B23;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
  border: 1px solid #ED2B23;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  display: inline-block;
  z-index: 777;
}

.back-to-top:hover {
  transition: all 0.5s ease-out;
  background: #bb1b15;
}

.experience .owl-theme .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hrrr {
  color: #fff !important;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: move-up 0.5s linear forwards;
}

@keyframes move-up {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.education {
  position: relative;
}

.education__education-inner-row {
  padding-top: 98.3px;
  padding-bottom: 150px;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.education__span-date {
  font-size: 14px;
  font-weight: lighter;
  color: #ED2B23;
  display: inline-block;
}

.education__education_h2 {
  font-size: 20px;
  letter-spacing: 25;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  margin-top: 4.3px;
}

.education__education-p {
  font-size: 14px;
  color: #55556A;
  font-weight: 400;
  margin-top: 9.7px;
}

.education__education-bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}



.education__education-col {
  padding: 34.7px 28.2px 38px 28.2px;
  width: 100%;
  max-width: 50%;
}

.education__bottom-line {
  position: relative;
}

.knowledge {
  position: relative;
}

.knowledge__knowledge-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 138.3px;
}


.knowledge__knowledge-col {
  width: 100%;
  max-width: 33%;
}

.knowledge__knowledge-check {
  display: inline-block;
  font-size: 14px;
}

.knowledge__knowledge-check i {
  color: red;
  display: inline-block;
}

.knowledge__knowledge-item:not(:first-child) {
  margin-top: 24px;
}

.knowledge__knowledge-check {
  padding-right: 38.3px;
}


.knowledge__knowledge-link {
  font-size: 14px;
  color: #fff;
  display: inline-block;
}

.skills {
  position: relative;
}

.skills__skills-row {
  padding-top: 98px;
  padding-bottom: 150px;
}


.skills__skills-row {
  display: flex;
}



.skills__skills-col-4 {
  width: 100%;
  max-width: 25%;
  text-align: center;
}



.skills__circle-subline-title {
  display: block;
  font-size: 14px;
  line-height: 30px;
  margin-top: 19.7px;
}

/**
inspiration:
https://ant.design/components/progress/
*/
.circle {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 1;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
}

.circle .inner {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 100px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
}


.circle .inner svg {
  width: 100%;
  height: 100%;
}

.circle .inner circle,
.circle .inner .path {
  stroke-width: 12px;
  stroke: pink;
}

.circle .inner .active {
  stroke: red;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  animation: dash 0.4s ease-out;
  animation-fill-mode: forwards;
  stroke-dasharray: 211.5%, 235;
}

.circle .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
}

.circle .text small {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.7em;
}

.circle-2 {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 1;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
}

.circle-2 .inner {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 100px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
}


.circle-2 .inner svg {
  width: 100%;
  height: 100%;
}

.circle-2 .inner circle,
.circle-2 .inner .path {
  stroke-width: 12px;
  stroke: pink;
}

.circle-2 .inner .active {
  stroke-dasharray: 188%, 235;
  stroke: red;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  animation: dash 0.4s ease-out;
  animation-fill-mode: forwards;
}

.circle-2 .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
}

.circle-2 .text small {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.7em;
}

.circle-3 {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 1;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
}

.circle-3 .inner {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 100px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
}



.circle-3 .inner svg {
  width: 100%;
  height: 100%;
}

.circle-3 .inner circle,
.circle-3 .inner .path {
  stroke-width: 12px;
  stroke: pink;
}

.circle-3 .inner .active {
  stroke-dasharray: 199.75%, 235;
  stroke: red;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  animation: dash 0.4s ease-out;
  animation-fill-mode: forwards;
}

.circle-3 .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
}

.circle-3 .text small {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.7em;
}

.circle-4 {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 1;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
}

.circle-4 .inner {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 100px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
}



.circle-4 .inner svg {
  width: 100%;
  height: 100%;
}

.circle-4 .inner circle,
.circle-4 .inner .path {
  stroke-width: 12px;
  stroke: pink;
}

.circle-4 .inner .active {
  stroke-dasharray: 176.25%, 235;
  stroke: red;
  stroke-width: 12px;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  animation: dash 0.4s ease-out;
  animation-fill-mode: forwards;
}

.circle-4 .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
}

.circle-4 .text small {
  color: rgba(0, 0, 0, 0.35);
  font-size: 0.7em;
}

@keyframes dash {
  from {
    stroke-dasharray: 0, 999;
  }
}

.experience {
  position: relative;
}

.experience__slide-margin {
  padding-top: 98.5px !important;
  padding-bottom: 150px !important;
}



.experience__experience-col {
  padding-left: 30px;
  padding-right: 30px;
}

.experience__experience-line {
  width: 96%;
  display: block;
  height: 1px;
  background-color: #3D3D52;
  margin-top: 29.7px;
  margin-bottom: 25.7px;
}



.experience__experience-img i {
  display: inline-block;
  font-size: 45px;
  color: #fff;
}



.experience__experience-date {
  font-size: 14px;
  display: inline-block;
  font-weight: 300;
  color: #ED2B23;
  line-height: 30px;
}

.experience__experience-h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 25;
  margin-bottom: 23.7px;
  color: #fff;
}

.experience__experience-p {
  font-size: 14px;
  line-height: 30px;
  color: #55556A;
}



.experience__experience-a {
  font-size: 14px;
  display: block;
  line-height: 30px;
  color: #55556A;
}



.experience__experience-item-flex {
  display: flex;
}

.experience .owl-theme .owl-dots button {
  outline: none;
  border: 1px solid transparent !important;
}

.experience .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background-color: #55556A;
  opacity: 1;
  border-radius: 50px;
  margin: 0 4px;
  border: 1px solid transparent;
}

.experience .owl-theme .owl-dots .owl-dot.active span,
.experience .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ED2B23;
  width: 12px !important;
  height: 12px !important;
  margin: 0 4px;
  border: 1px solid transparent;
}

.experience .owl-theme .owl-dots {
  width: 100%;
  position: absolute;
  bottom: -22%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.experience .owl-theme .owl-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 0 !important;
}

.experience .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  display: block;
}

.experience .owl-theme .owl-nav .owl-next {
  position: absolute;
  right: 0;
  display: block;
}

.experience .owl-theme .owl-nav button {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: red !important;
  color: white !important;
}

.project {
  position: relative;
}

.project__project-container {
  padding-top: 88px;
  padding-bottom: 150px;
}

.project__project-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}



.project__project-mt-1 {
  margin-bottom: 44px;
}

.project__project-col-1, .project__project-col-2, .project__project-col-3 {
  width: 100%;
}

.project__project-col-1 {
  max-width: 8%;
}


.project__project-col-2 {
  max-width: 25%;
}


.project__project-col-3 {
  max-width: 67%;
}

.project__project-number {
  color: #ED2B23;
  font-size: 32px;
  font-weight: bold;
}

.project__project-h2 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}



.project__project-date {
  font-size: 12px;
  display: inline-block;
  color: #ED2B23;
  line-height: 30px;
}

.project__projecn-mt:not(:first-child) {
  margin-top: 23px;
}



.project__project-h3 {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

.project__project-span {
  font-size: 12px;
  line-height: 30px;
  color: #55556a;
}

.project__description-h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 30px;
}

.project__description-text {
  font-size: 14px;
  color: #55556a;
  line-height: 30px;
  margin-top: 8px;
}



.testimonial {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1220px;
}

@media (max-width: 1074px) {
  .testimonial {
    padding-right: 30px !important;
  }
}

.testimonial__testimonial-row {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.testimonial__testimonial-row:not(:first-child) {
  margin-top: 50px;
}

.testimonial__testimonial-col-5 {
  width: 100%;
  max-width: 66%;
  padding-right: 34px;
  padding-top: 14.7px;
  padding-bottom: 36px;
}

@media (max-width: 1074px) {
  .testimonial__testimonial-col-5 {
    padding-left: 30px;
  }
}


.testimonial__testimonial-col-7 {
  width: 100%;
  max-width: 52%;
  padding: 40px 38px 39px 30px;
  background-color: #fff;
}

.testimonial__testimonial-col-4 {
  width: 100%;
}

.testimonial__testimonial-left-flex {
  display: flex;
  width: 100%;
}

.testimonial__testimonial-img img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 100px;
}


.testimonial__testimonial-h2 {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  margin-left: 13.7px;
}

.testimonial__testimonial-line-content {
  position: relative;
  margin-top: 14.3px;
  margin-bottom: 14.7px;
  width: 100%;
}

.testimonial__testimonial-line {
  display: block;
  height: 1px;
  background-color: #3D3D52;
}

.testimonial__testimonial-small-radius {
  position: absolute;
  top: -19px;
  right: 0;
  width: 42px;
  height: 42px;
  border: 1px solid #3D3D52;
  border-radius: 50px;
  background-color: #030318;
}

.testimonial__testimonial-small-radius:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50px;
}

.testimonial__testimonial-span {
  font-size: 14px;
  display: block;
  line-height: 30px;
  color: #55556a;
  margin-left: 13.7px;
}

.testimonial__testimonial-social-content {
  margin-top: 23px;
  margin-left: 13.7px;
}



.testimonial__testimonial-icon {
  width: 30px;
}

.testimonial__testimonial-icon:last-child {
  text-align: end;
  border-left: 1px solid #55556A;
  width: 34px;
}


.testimonial__testimonial-icon-center {
  width: 51px;
  text-align: center;
  border-left: 1px solid #55556A;
}

.testimonial__testimonial-icon, .testimonial__testimonial-icon-center {
  height: 42px;
  line-height: 42px;
  color: #55556A;
  font-size: 16px;
  display: inline-block;
}

.testimonial__testimonial-star-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 133px;
}

.testimonial__testimonial-star, .testimonial__testimonial-star-light {
  display: inline-block;
  font-size: 19px;
}

.testimonial__testimonial-star {
  color: #EF620F;
}

.testimonial__testimonial-star-light {
  color: #A8B2D2;
}

.testimonial__testimonial-p {
  margin-top: 30px;
  font-size: 14px;
  color: #55556A;
  line-height: 30px;
}

.language {
  position: relative;
}

.language__language-row {
  padding-top: 97.3px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.language__language-col-3 {
  width: 100%;
  max-width: 25%;
  padding: 0 15px;
}


.language__language-span-title {
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 25;
  color: #55556A;
  display: inline-block;
}

.language__language-h1 {
  font-size: 24px;
  letter-spacing: 25;
  color: #fff;
  line-height: 33px;
  font-weight: bold;
  margin-top: -10px;
}

.language__language-dots-flex {
  margin-top: 41.9px;
  display: flex;
}


.language__language-span {
  width: 100%;
  max-width: 20px;
  height: 4px;
  background-color: #ED2B23;
  display: inline-block;
}

.language__language-span:not(:first-child) {
  margin-left: 10px;
}

.language__language-span-light {
  background-color: #55556A;
}

.interests {
  position: relative;
}

.interests__interests-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 148px;
}


.interests__interests-col-3 {
  padding: 20px 0;
  width: 100%;
  max-width: 31.333333%;
}



.interests__interests-col-mt {
  margin-top: 79px;
}



.interests__interests-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #55556A;
  margin-top: 29.5px;
  margin-bottom: 22.6px;
  transition: all 0.3s ease-out;
}


.interests__interests-col-3:hover .interests__interests-line {
  background-color: red;
}

.interests__interests-img i {
  display: inline-block;
  font-size: 40px;
  color: #fff;
}



.interests__interests-img-pt {
  padding-top: 1px;
}

.interests__interests-h2 {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 17.5px;
}


.interests__interests-p {
  font-size: 14px;
  color: #55556A;
  line-height: 30px;
}

.services {
  position: relative;
}

.services__services-row {
  padding-top: 98.3px;
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}



.services__services-col-6 {
  width: 100%;
  max-width: 50%;
}

.services__services-m4 {
  margin-top: 64px;
}

.services__services-img {
  align-self: center;
  padding-right: 52px;
}


.services__services-img i {
  font-size: 38px;
  display: block;
  color: #ED2B23;
}

.services__services-mobile {
  padding-right: 67px;
}



.services__services-h2 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 25;
  font-weight: 600;
}

.services__services-p {
  font-size: 14px;
  color: #55556A;
  line-height: 30px;
  margin-top: 8.7px;
}

.services__services-row-flex {
  display: flex;
}

.services__services-content {
  width: 100%;
  border-left: 1px solid #3D3D52;
  padding: 35px 40px 35px 28.7px;
}



.portfolio {
  position: relative;
}

.portfolio__portfolio_margin-tb {
  padding-top: 99px;
  padding-bottom: 149px;
}


.portfolio__portfolio-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__portfolio-row:not(:first-child) {
  margin-top: 30px;
}



.portfolio__portfolio-col-8 {
  width: 100%;
  max-width: 66%;
}

.portfolio__portfolio-col-4 {
  width: 100%;
  max-width: 32%;
  position: relative;
}

.portfolio__portfolio-col2-4 {
  width: 100%;
  max-width: 32%;
}

.portfolio__portfolio-col-6 {
  width: 100%;
  max-width: 49%;
}


.portfolio__portfolio-img {
  width: 100%;
  height: 291.99px;
  overflow: hidden;
  position: relative;
}


.portfolio__portfolio-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.portfolio__portfolio-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.portfolio__portfolio-link {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 333;
  position: relative;
}

.portfolio__portfolio-col-mt:hover .portfolio__portfolio-img:before {
  opacity: 1;
}

.portfolio__portfolio-click-hover {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.portfolio__h1-hover {
  color: #fff;
  transform: translateY(1rem);
  transition: all 0.3s ease-out 0.1s;
  opacity: 0;
  visibility: hidden;
}



.portfolio__p-hover {
  color: #fff;
  line-height: 30px;
  font-size: 14px;
  padding-right: 10px;
  transform: translateY(1rem);
  transition: all 0.3s ease-out 0.2s;
  opacity: 0;
  visibility: hidden;
}

.portfolio__portfolio-col-mt:hover .portfolio__h1-hover,
.portfolio__portfolio-col-mt:hover .portfolio__p-hover {
  opacity: 1;
  transform: translateY(-1rem);
  visibility: visible;
}

.contact {
  position: relative;
}

.contact__contact-row {
  padding-top: 97.3px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact__contact-col-8 {
  width: 100%;
  max-width: 60%;
}

.contact__contact-col-4 {
  width: 100%;
  max-width: 40%;
}




.contact__contact-form-inner {
  padding: 50px 30px;
}




.contact__contact-input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contact__contact-input-row:not(:first-child) {
  margin-top: 30px;
}


.contact__contact-input-col-6 {
  width: 100%;
  max-width: 48%;
  height: 44px;
}


.contact__contact-input-row-2 {
  width: 100%;
  margin-top: 30px;
}

.contact__contact-input-col-12 {
  width: 100%;
  height: 44px;
}

.contact__contact-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  outline: none;
  color: #55556A;
  border: 1px solid #3D3D52;
  background-color: #272739;
  border-radius: 2px;
  padding-left: 15.1px;
}

.contact__contact-textarea {
  width: 100%;
  height: 100%;
  font-size: 14px;
  outline: none;
  color: #55556A;
  border: 1px solid #3D3D52;
  background-color: #272739;
  border-radius: 2px;
  padding-top: 14px;
  padding-left: 15.1px;
}

.contact__contact-button {
  margin-top: 30px;
}

.contact__contact-btn-a {
  width: 100%;
  max-width: 170px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #ED2B23;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  border-radius: 2px;
}

.contact__contact-btn-a:hover {
  background-color: #fff;
  color: #030318;
}

.contact__contact-img {
  padding-left: 30px;
  width: 100%;
  min-height: 243px;

}



.contact__contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}



.pricing {
  position: relative;
}

.pricing__pricing-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 150px;
  flex-wrap: wrap;
}

.pricing__pricing-col-4 {
  width: 100%;
  max-width: 31%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.pricing__pricing-bg-img {
  width: 100%;
  height: 100%;
  height: 790px;
}



.pricing .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing__pricing-card {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 118px;
}


.pricing__pricing-h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding-left: 30.4px;
}



.pricing__pricing-line {
  width: 100%;
  display: block;
  border: 1px solid #C9C9C9;
  margin-top: 16px;
  margin-bottom: 63px;
}



.pricing__pricing-list {
  margin-bottom: 62.3px;
  padding-left: 30.4px;
}


.pricing__pricing-group:not(:first-child) {
  margin-top: 17px;
}

.pricing__pricing-check {
  display: inline-block;
  padding-right: 30.3px;
  font-size: 14px;
  color: #55556A;
}

.pricing__check-red {
  color: #ED2B23;
}

.pricing__pricing-title {
  font-size: 14px;
  line-height: 26px;
  color: #55556A;
}


.pricing__pricing-btn {
  text-align: center;
}

.pricing__pricing-btn-a {
  width: 100%;
  max-width: 162px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #ED2B23;
  transform: all 0.3s ease-in-out;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #cc2a24;
}

.pricing__pricing-btn-a:hover {
  background-color: #fff;
  color: #030318;
  border: 2px solid #171717;
}

.pricing .pricing-btn-a-1 {
  background-color: #fff;
  color: #030318;
  border: 2px solid #171717;
}

.pricing .pricing-btn-a-1:hover {
  background-color: #ED2B23 !important;
  color: #fff !important;
  border: 2px solid #cc2a24;
}

.pricing__pricing-table {
  position: absolute;
  top: 119px;
  right: 16px;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-color: #030318;
  justify-content: center;
  display: flex;
  align-items: center;
}



.pricing__use-dolor i {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 38px;
  left: 22px;
}


.pricing__pricing-bg-red {
  background-color: #ED2B23;
}

.pricing__pricing-top-h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}



.pricing__pricing-top-00 {
  position: absolute;
  top: 53px;
  right: 13px;
  font-size: 14px;
  color: #fff;
}



.according {
  background-color: rgba(0, 0, 0, 0);
}

.according__container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.according__body {
  padding-top: 27px;
  padding-bottom: 24px;
}

.according__h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  line-height: 27px;
  margin-bottom: 59px;
}

.according__faq {
  border-bottom: 2px solid #615D5D;
  cursor: pointer;
}

.according__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.according__question h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  line-height: 27px;
  padding-bottom: 5px;
  margin-top: 23px;
}

.according__question h3 :first-child {
  margin-top: 0;
}

.according__question svg {
  transition: transform 0.5s ease-in;
}

.according__answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.according__answer p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #9B9B9B;
  padding-top: 22px;
  padding-bottom: 31px;
  line-height: 27px;
}

.according__faq.active .according__answer {
  max-height: 300px;
  border-top: 2px solid #615D5D;
  animation: fade 1s ease-in-out;
}

.according .active svg {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}